
.hero {
    padding-top: 120px;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 span {
    color: var(--text-secondary);
}

.hero h1 {
    font-family: var(--font-mono);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
    color: var(--text-primary);
}

.hero p.subtitle {
    font-size: 1.25rem;
    color: var(--text-secondary);
    max-width: 750px;
    margin-bottom: 32px;
}

.hero-actions {
    display: flex;
    gap: 16px;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

/*Tech-Card*/
.tech-section {
    margin-top: 20px;
}

.tech-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

/*Buttons*/
.btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 6px;
    font-family: var(--font-mono);
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary {
    background-color: var(--accent-green);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-primary:hover {
    background-color: var(--accent-green-hover);
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: var(--bg-card);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
}

.btn-secondary:hover {
    background-color: var(--border-color);
    border-color: var(--text-secondary);
    transform: translateY(-2px);
}   

