header{
    display: flex;
    flex-direction: column; 
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.line-left{
    width: auto;
    background-color: #D3D3D3;
    height: 2px;
    margin-right: 35%;
    border-radius: 2px;
    margin-bottom: 5px;
}

.line-right{
    width: auto;
    background-color: #D3D3D3;
    height: 2px;
    margin-left: 35%;
    border-radius: 2px;
}
nav{
    display: flex;
    gap: 10px;
}


.logo .logo-symbol {
    font-family: none;
}

h2{
    margin: 0;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}


.teste{
    width: 40px;
    height: 40px;
}

.logo-title{
    -webkit-text-stroke: 2px #D3D3D3;
}